body {
  background-color: #b8b8f1;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, 0.25) 35px, rgba(255, 255, 255, 0.25) 70px);
  overflow-x: hidden;
}

#slot-container {
  position: relative;
  margin: 0 auto;
}

#reel-container {
  background: #fff;
  margin: 50px 60px;
  padding: 10px;
  border: 10px solid #fff;
  border-radius: 10px;
  height: 73vh;
  font-size: 1em;
  display: grid;
  grid-gap: 0 10px;
  grid-template-columns: 25% 25% 25% auto;
  font-family: Arial;
  overflow: hidden;
  box-shadow: inset 0 0 20px #545454, 0 0 5px #737373;
  transition: all 0.5s ease;
}
#reel-container:before {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border: 6vh solid yellow;
  top: 35vh;
  margin-top: -6vh;
  left: -1px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-width: 9vh;
  z-index: 20;
}
#reel-container:after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border: 6vh solid yellow;
  top: 35vh;
  margin-top: -6vh;
  right: -1px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-width: 9vh;
  z-index: 20;
}
#reel-container .reel {
  width: 100%;
  position: relative;
  transition: all 0.5s ease;
}
#reel-container .reel:before {
  content: attr(data-title);
  text-align: center;
  width: 100%;
  display: block;
  background: rgba(255, 255, 255, 0.85);
  font-size: 2em;
  position: absolute;
  box-shadow: 0 0 3px black;
  display: none;
}
#reel-container .reel .spinner {
  margin-top: -12vh;
  transition: transform 4s cubic-bezier(0.3, 0, 0, 1);
}
#reel-container .reel .cell {
  height: 30vh;
  display: flex;
  margin: 0;
  border: none;
  overflow: hidden;
  transition: all 0.5s ease;
  max-width: 25vw;
}
#reel-container .reel .cell .text-type {
  text-align: center;
  margin: auto;
  font-size: 1.64em;
  max-width: 13vw;
}
#reel-container .reel .cell .title-type {
  text-align: center;
  margin: auto;
  font-size: 4.5vw;
  width: 100%;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 1px 0px 0px #f247ff, 0px 1px 0px #f247ff, 2px 1px 0px #f247ff, 1px 2px 0px #f247ff, 3px 2px 0px #f247ff, 2px 3px 0px #f247ff, 4px 3px 0px #f247ff, 3px 4px 0px #f247ff, 5px 4px 0px #f247ff, 3px 5px 0px black, 6px 5px 0px black, -1px 2px 0 black, 0 3px 0 black, 1px 4px 0 black, 2px 5px 0px black, 2px -1px 0 black, 3px 0 0 black, 4px 1px 0 black, 5px 2px 0px black, 6px 3px 0 black, 7px 4px 0 black, 10px 10px 4px #dac249;
  animation: 3s ease-in 8s infinite running jello;
}
#reel-container .reel .cell .link-type {
    text-align: center;
    margin: auto;
    letter-spacing: -0.05em;
    color: #000081;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 4vmin;
    font-weight: bold;
    padding: 10px;
}

#reel-container .reel .cell .img-type {
  text-align: center;
  margin: 5px auto;
  height: calc(100% - 10px);
  width: 17vw;
  background-size: 100% 80%;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  border-radius: 5px;
}

.animated .img-type:before {
    content: attr(data);
    top: 4.5em;
    position: relative;
    background: yellow;
    padding: 20px;
    font-size: 3vmin;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.4s ease;
    box-shadow: 0 0 0 0.5vmin black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.animated .img-type:hover {
  filter: sepia(1) saturate(6);
  display:flex;
}

.animated .img-type:hover:before {
  opacity: 1;
}


#reel-container #reel-1 .spinner {
  transition-duration: 4s;
}
#reel-container #reel-2 .spinner {
  transition-duration: 5s;
}
#reel-container #reel-3 .spinner {
  transition-duration: 6s;
}
#reel-container #reel-4 .spinner {
  transition-duration: 7s;
}

#spin-container {
  text-align: center;
  display: flex;
  background: rgba(184, 184, 241, 0.68);
}

#spin-container .button {
    width: 50%;
    font-size: 6vh;
    padding: 10px;
    font-family: Helvetica;
    font-weight: bold;
    margin: 10px auto;
    height: 10vh;
    border-radius: 10px;
    border-bottom: 5px solid #777;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ededed 5%, #a5a5a5 100%);
    background-color: #ededed;
    text-shadow: 0px 1px 0px #ffffff;
    border-left: 0;
    border-right: 0;
}

#spin-container #link-button {
  font-size: 2em;
  width: 30%;
}

.animated {
    animation-delay: 0.35s;
    box-shadow: 0 9px 28px #636060;
    background-color: yellow;
    z-index: 10;
    position: relative;
    filter: none !important;
}

.no-filter {
   filter: none !important;
}

.animated .img-type {
  animation: 5s ease-in 1s infinite running pulse;
}

.jumping-text {
    font-weight: bold;
    font-size: 4vw !important;
}

.animated .jumping-text {
    animation: 5s ease-in 1s infinite text-shadow;
}

.win-type {
    width: 30vmin;
    height: 30vmin;
    position: absolute;
    background-size: contain;
    animation: 4s ease rollIn forwards;
    z-index: -1;
}

@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 magenta, 
            0 0 0 #fefc4b;
    }

    10% {  
        transform: translateY(-1vh);
        text-shadow: 
            0.125em 0.125em 0 #0c2ffb, 
            0.25em 0.25em 0 #2cfcfd, 
            -0.125em -0.125em 0 magenta, 
            -0.25em -0.25em 0 #fefc4b;
    }

    20% {  
        transform: translateY(0.5vh);
        text-shadow: 
            -0.0625em -0.0625em 0 #0c2ffb, 
            -0.125em -0.125em 0 #2cfcfd, 
            0.0625em 0.0625em 0 magenta, 
            0.125em 0.125em 0 #fefc4b;
    }
    
   30% {
        transform: translateY(-0.25vh);
        text-shadow: 
            0.03125em 0.03125em 0 #0c2ffb, 
            0.0625em 0.0625em 0 #2cfcfd, 
            -0.03125em -0.03125em 0 magenta, 
            -0.0625em -0.0625em 0 #fefc4b;
    }

    40% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}

#attrib {
  margin: 10px;
}