body {
  background-color: #999;
  background-image: repeating-linear-gradient(30deg, transparent, transparent 15vh, rgba(255, 255, 255, 0.1) 15vh, rgba(255, 255, 255, 0.1) 30vh);
  overflow-x: hidden;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  display: none;
}

* {
    backface-visibility: hidden;
}

#slot-container {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
}

#reel-container .reel {
  width: 100%;
  position: relative;
  transition: all 0.5s ease;
}

#reel-container .reel .spinner {
  margin-top: -12vh;
  transition: transform 4s cubic-bezier(.04,-0.27,.76,1.18);
}

#reel-container .reel .cell {
  height: 30vh;
  display: flex;
  margin: 0;
  border: none;
  transition: all 0.5s ease;
  align-items: center;
  justify-content: center;
}
#reel-container .reel .cell .title-type {
  text-align: center;
  margin: auto;
  font-size: 7.25vw;
  width: 100%;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 1px 0px 0px #5eeef8, 0px 1px 0px #705dff, 2px 1px 0px #f559ff, 1px 2px 0px #ff5b5b, 3px 2px 0px #96cdff, 2px 3px 0px #a7ff2d, 4px 3px 0px #ffffff, 3px 4px 0px #ffbf4a, 5px 4px 0px #45ff28, 3px 5px 0px black, 6px 5px 0px black, 1px 2px 0 black, 0 3px 0 black, 1px 4px 0 black, 2px 5px 0px black, 2px -1px 0 black, 3px 0 0 black, 4px 1px 0 black, 5px 2px 0px black, 6px 3px 0 black, 7px 4px 0 black;
}
#reel-container .reel .cell .link-type {
    text-align: center;
    margin: auto;
    letter-spacing: -0.05em;
    color: #000;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 2vmin;
    font-weight: 900;
    padding: 10px;
}

#reel-container .reel .cell.animated .link-type {
  transition: all 0.25s 0.5s ease;
  background: white;
  padding: 0.5em;
  font-size: 5vmin;
  text-transform: capitalize;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 0 0 0.5vmin black;
  color: blue;
  text-decoration: underline;
  filter: drop-shadow(-1vw 3.3vh 1vh rgba(0,0,0,0.3));
  width: 13vw;
  word-break: break-word;
  left: -1vw;
  position: relative;
}

#reel-container .reel .cell .img-type {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  height: 45%;
  width: 45%;
  top: 20%;
}

#reel-container .reel .cell.animated .img-type {
  height: 90%;
  width: 90%;
  transition: all 0.25s 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(-1vw 3.3vh 1vh rgba(0,0,0,0.3));
}

.animated .img-type:before {
    content: attr(data);
    top: 4.5em;
    background: white;
    padding: 0.5em;
    font-size: 3vmin;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.4s ease;
    box-shadow: 0 0 0 0.5vmin black;
    text-align: center;
}

.animated .img-type:hover {
  display:flex;
}

.animated .img-type:hover:before {
  opacity: 1;
}


#reel-container #reel-1 .spinner {
  transition-duration: 5s;
  animation-duration: 5s;
}
#reel-container #reel-2 .spinner {
  transition-duration: 7s;
  animation-duration: 7s;
}
#reel-container #reel-3 .spinner {
  transition-duration: 9s;
  animation-duration: 9s;
}

#spin-container {
  text-align: center;
  display: flex;
  position: relative;
}

.search {
  align-self: center;
  text-align: center;
  width: 100%;
}

.button {
  padding: 10px;
  font-family: Helvetica;
  font-weight: bold;
  margin: 0.5em auto;
  border: 0;
  border-bottom: 0.15em solid #777;
  box-shadow: 0 0 0 0.1em #999999;
  background: linear-gradient(185deg, #eee 10%, #ccc 40%, #bbb 70%, #999 100%);
  text-shadow: 0px 1px 0px #ffffff;
  cursor: pointer;
  outline: none !important;
  font-size: 3vh;
  align-self: center;
  color: #333;
  border-radius: 100%;
  height: 23vh;
  width: 23vh;
  position:relative;
}

.button:after {
    content: "";
    filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(0, 0, 0, 0.25)) blur(3px);
}
.button:before, .button:after {
    inset: 0;
    position: absolute;
    border-radius: 100%;
    border: 12px solid rgba(220,220,220,0.7);
    line-height: 1.1;
}

#spin-container .button:before, #spin-container .button:after {
    border-radius: 0.4em;
}

.button:hover {
  background: #ccc;
}

.button:active {
  background: #bbb;
}

#spin-container .button {
  padding: 20px 0 12px 0;
  width: 50%;
  height: auto;
  font-size: 6vh;
  border-radius: 0.4em;
  animation: 1s ease fadeIn forwards;
}

#spin-container #link-button {
  font-size: 2em;
  width: 30%;
}

.animated {
    animation-delay: 0.35s;
    z-index: 10;
    position: relative;
    filter: url('#squig-1');
    animation: 1.2s steps(8) swing infinite alternate;
    transform-origin: 50% 80%;
}

@keyframes swing {
  from {
    transform: rotateZ(-8deg) ;
  }
  to {
    transform: rotateZ(8deg) ;
  }
}

.no-filter {
   filter: none !important;
}

.win-type {
    width: 30vmin;
    height: 30vmin;
    position: absolute;
    background-size: contain;
    animation: 4s ease rollIn forwards;
    z-index: -1;
}

#attrib {
  margin: 10px;
}

.flashin {
  background-size: contain;
  position: fixed;
  height: 45vh;
  width: 45vh;
  bottom: 1vh;
  z-index: 999;
  left: -1vh;
  animation: 1s ease rotateInUpLeft;
  display: none;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.75));
  pointer-events: none;
}

#right-ing {
  right: -1vh;
  left: auto;
  animation: 1s ease rotateInUpRight;
}

#reel-container {
  background: white url(img/so-white.png);
  height: 75vh;
  font-size: 1em;
  display: grid;
  grid-gap: 0 10px;
  grid-template-columns: 33% 33% 33%;
  font-family: Arial;
  overflow: hidden;
  box-shadow: inset 0 0 20px #484848;
  width: 56%;
  border: 4px solid #777;
  outline: 4px solid rgba(100,100,100,0.25);
  padding: 15px;
}

#info-container {
  width: 34%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-1vw);
}
#board {
  display: flex;
  justify-content: space-evenly;
  transform-style: preserve-3d;
  perspective: 3000px;
}

.extra-info {
  width: 100%;
  height: 34.5vh;
  background: rgb(204 204 204);
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 4px solid #777;
  display: flex;
  flex-flow: wrap;
  outline: 4px solid rgba(100,100,100,0.25);
}

iframe {
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
}

#eda-recipes {
  height: 37vh;
}

.new-recipe {
  text-align: center;
  background: #fff;
  padding: 4px;
  cursor: pointer;
  position: relative;
  width: 100%;
}

#eda-recipes img {
  width: 80%;
  max-width: 400px;
  margin: 10px;
  border-radius: 5px;
  border: 12px solid #cccccc;
  animation: 1s ease fadeIn forwards;
}

@keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.rec-label {
    font-size: 1.7vw;
    transform: translate(-16%, 54px) rotate(-15deg);
    background: #ccc;
    width: 100%;
    padding: 10px 22%;
    position: absolute;
    border: 1px solid #cccccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: #5f5f5f;
text-shadow: -1px 1px #dbdbdb;
  font-family: 'Pacifico', cursive;
  z-index: 1;
}

.rec-source {
  font-family: sans-serif;
  font-size: 0.5em;
}

#bottom-stuff {
  display: flex;
}

.done-done #reel-container {
  transform:  translateX(1vw) rotateY(12deg);
  transition: transform 1s ease;
}

/* .done-done #info-container {
  transform: rotateY(-25deg) translateX(-15%);
  transition: transform 1s ease;
} */

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #3e3d8a #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 10px;
    border: 3px none #999999;
  }

#yt-video {
  overflow: hidden;
  background: #ccc;
}
